{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <div>
                <div>
                    <h3>Конвертер валют</h3>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <div>
                            <input type="number" {% if from_amount %} value="{{ from_amount }}" {% endif %} name="from-amount">
                        </div>
                        <div>
                            <select name="from-curr" value="{{ from_curr }}">
                                {% for curr in currencies %}
                                    <option value="{{ curr }}" {% if from_curr == curr %}selected{% endif %}>{{ curr }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <select name="to-curr" value="{{ to_curr }}">
                                {% for curr in currencies %}
                                    <option value="{{ curr }}" {% if to_curr == curr %}selected{% endif %}>{{ curr }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    {% if converted_amount %}
                        <div>
                            <div>
                                <h5>Отдаем <b>{{ from_curr }}</b> Получаем
                                    <b>{{ to_curr }}</b></h5>
                            </div>
                            <div>
                                {{ converted_amount }}
                            </div>
                        </div>
                    {% endif %}
                    <div>
                        <button type="submit">Рассчитать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}